<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Contact</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16X16 32X32">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
            </nav>
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
    </header>
    <h1>CONTACT//</h1>
    <section>
        <h4>WE ARE HERE</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697149865030!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section>
    <h3>CONTACT INFO</h3>
    <article>
        <h5>MANAGEMENT | Karen Blanche</h5>
        <a href="email: info@mysite.com"> email: info@mysite.com</a><br>
        <a href="phone: 123-456-7890">phone: 123-456-7890</a>
    </article>
    <article>
        <h5>BOOKING | Daniel Ku</h5>
        <a href="email: info@mysite.com">email: info@mysite.com</a><br>
        <a href="phone: 123-456-7890">phone: 123-456-7890</a>
    </article>
    <article>
        <h5>LABEL | Wix Records, Jake Coldman</h5>
        <a href="email: info@mysite.com">email: info@mysite.com</a><br>
        <a href="phone: 123-456-7890">phone: 123-456-7890</a>
    </article>
    <article>
        <h5>PR | That Girl Pr, Sarah Brookstone</h5>
        <a href="email: info@mysite.com">email: info@mysite.com</a><br>
        <a href="phone: 123-456-7890">phone: 123-456-7890</a>
    </article>
    </section>
</body>
</html>