<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Contact</title>
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16X16 32X32">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
        <nav>
            <section class="header_opciones">
            <ul>
                <li><a href="/" style="color: black">HOME |</a></li>
                <li><a href="/about" style="color: black">ABOUT |</a></li>
                <li><a href="/music" style="color: black">MUSIC |</a></li>
                <li><a href="/contact" style="color: black">CONTACT |</a></li>
            </ul>
            </section>
            <section id="redes_contacto">
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: black;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: black;"></i></a></li>
                <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: black;"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: black;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: black;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: black;"></i></a></li>
            </ul>
            </section>
        </nav>
        </div>
    </header>
    <div class="nav_contacto">
    <h1>CONTACT//</h1>
    </div>
    <section>
        <div class="nav_ubicacion">
        <h4>WE ARE HERE</h4>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697149865030!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section>
    <div class="nav_info">
    <h3>CONTACT INFO</h3>
    </div>
    <article>
        <h5 id="datos">MANAGEMENT | Karen Blanche</h5>
        <a href="email: info@mysite.com"><span class="nav_comunicar">email:</span><span class="nav_gris"> info@mysite.com</span></a><br>
        <a href="phone: 123-456-7890"><span class="nav_comunicar">phone:</span><span class="nav_gris"> 123-456-7890</span></a>
    </article>
    <article>
        <h5 id="datos">BOOKING | Daniel Ku</h5>
        <a href="email: info@mysite.com"><span class="nav_comunicar">email:</span><span class="nav_gris"> info@mysite.com</span></a><br>
        <a href="phone: 123-456-7890"><span class="nav_comunicar">phone:</span><span class="nav_gris"> 123-456-7890</span></a>
    </article>
    <article>
        <h5 id="datos">LABEL | Wix Records, Jake Coldman</h5>
        <a href="email: info@mysite.com"><span class="nav_comunicar">email:</span><span class="nav_gris"> info@mysite.com</span></a><br>
        <a href="phone: 123-456-7890"><span class="nav_comunicar">phone:</span><span class="nav_gris"> 123-456-7890</span></a>
    </article>
    <article>
        <h5 id="datos">PR | That Girl Pr, Sarah Brookstone</h5>
        <a href="email: info@mysite.com"><span class="nav_comunicar">email:</span> <span class="nav_gris"> info@mysite.com</span></a><br>
        <a href="phone: 123-456-7890"><span class="nav_comunicar">phone:</span> <span class="nav_gris"> 123-456-7890</span></a>
    </article>
    </section>
</body>
</html>