<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16X16 32X32">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
            </nav>
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
    </header>
    <section>
        <h3>EMILIA<br>COLE//</h3>
    </section>
    <section>
        <h1>TWIST IN MY REALITY</h1>
        <img src="img/emilia-home.jpg" alt="Imagen de portada" width="100%">
    </section>
</body>
</html>