<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Music</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16X16 32X32">
    <link rel="stylesheet" type="text/css" href="/css/music.css">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body id="body_portada">
    <header>
        <div class="barra_transparente"></div>
        <img src="/img/emilia-music-top.jpg" alt="background header music section" class="foto_portada">
        <nav>
            <div class="barra_tarea">
            <ul>
                <li><a href="/" style="color: black">HOME |</a></li>
                <li><a href="/about" style="color: black">ABOUT |</a></li>
                <li><a href="/music" style="color: black">MUSIC |</a></li>
                <li><a href="/contact" style="color: black">CONTACT |</a></li>
            </ul>
            </div>
            <div id="iconos_tarea">
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: black;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: black;"></i></a></li>
                <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: black;"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: black;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: black;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: black;"></i></a></li>
            </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="musica_titulo">
        <h1>MUSIC //</h1>
        </div>
    </section>
    <section>
        <div class="musica_links">
        <h4>Direct Links</h4>
        </div>
        <section id="lista_album">
        <ul>
            <li><a href="">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
        </section>
        <article>
            <div class="primera_cancion">
            <h2>ALBUM<br>TWIST IN MY REALITY</h2>
            </div>
            <img src="img/emilia-play-list.png" alt="imagen de album" class="playlist_foto">
            <section id="canciones_listas">
            <ul>
                <li>1. ➤ Organic Love | 02:40</li>
                <li>2. ➤ Twist In My Reality | 02:10</li>
                <li>3. ➤ Street Light | 03:28</li>
                <li>4. ➤ Love Don't Live Here Anymore (Cover) | 03:49</li>
            </ul>
            </section>
            <h4 id="go_top">Go Top</h4>
        </article>
        <article>
        <div class="segunda_cancion">
        <h2>VIDEO<br>ORGANIC LOVE</h2>
        </div>
        <article class="video1">
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </article>
        <section id="canciones_listas">
        <ul>
            <li>Directed by VINCE MALC & EMILIA COLE</li>
            <li>Edited and Filmed by NICOLAS TROY</li>
            <li>Produced by NIKI HEART,</li>
            <li>Wix Films LTD</li>
        </ul>
        </section>
        <h4 id="go_top">Go Top</h4>
       </article>
        <article>
        <div class="tercera_cancion">
        <h2>VIDEO<br>STREET LIGHT</h2>
        </div>
        <article class="video2">
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </article>
        <section id="canciones_listas">
        <ul>
            <li>Directed by VINCE MALC & EMILIA COLE</li>
            <li>Edited and Filmed by NICOLAS TROY</li>
            <li>Produced by NIKI HEART,</li>
            <li>Wix Films LTD</li>
        </ul>
        </section>
        <h4 id="go_top">Go Top</h4>
        </article>
    </section>
</body>
</html>